<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"aloemyeu!"</title>
    <link rel="icon" href="/img/icon.png" type="image/png">
    <link rel="stylesheet" href="homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="main_top">
            <h1 id="title">"aloemyeu!"</h1>
        </div>
        <div class="main_bottom">
            <div class="control-section">
                <input type="text" id="userName" class="textBox" placeholder="Your name:" maxlength="30">
                <input type="text" id="userInput" class="textBox" placeholder="Enter Room Id:">
                <div class="buttons">
                    <button id="createRoomBtn">Create Room</button>
                    <button id="joinRoomBtn">Join Room</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <script>
        // When the button is clicked, send a request to create a new room
        document.getElementById('createRoomBtn').addEventListener('click', function() {
            fetch('/createRoom', { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Failed to create room');
                })
                .then(data => {
                    // Redirect the user to the newly created room
                    window.location.href = '/room/' + data.roomId;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

    </script>
</body>
</html>
