<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"aloemyeu!"</title>
    <link rel="icon" href="/img/icon.png" type="image/png">
    <link rel="stylesheet" href="css/homepage.css">
    <script src="/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="main_top">
            <h1 id="title">"aloemyeu!"</h1>
        </div>
        <div class="main_bottom">
            <div class="control-section">
                <form id="inputForm" class="input-section">
                    <input type="text" id="userNameInput" class="textBox" placeholder="Your name:" maxlength="30" autocomplete="off"> 
                    <input type="text" id="roomIdInput" class="textBox" placeholder="Enter Room Id:" autocomplete="off">
                </form>
               <div class="buttons">
                    <button id="createRoomBtn">Create Room</button>
                    <button id="joinRoomBtn">Join Room</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <script>

        document.getElementById('createRoomBtn').addEventListener('click', function() {
            createNewRoom()
        })

        document.getElementById("roomIdInput").addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault()
                joinRoom()
            }
        })

        document.getElementById("joinRoomBtn").addEventListener("click", function() {
            joinRoom()
        })        

        //Send a request to create a new room        
        function createNewRoom(){
            fetch('/createRoom', { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Failed to create room');
                })
                .then(data => {
                    // Redirect the user to the newly created room
                    window.location.href = '/room/' + data.roomId;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
        
        //Send a request to submit user name
        document.getElementById("userNameInput").addEventListener("keyup", function(event) {
            if (event.keyCode === 13) { // 13 is the Enter key code
                event.preventDefault(); // Prevent default form submission
                
                var username = document.getElementById("userNameInput").value;

                // Send username to the server
                fetch('/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username: username })
                }).then(response => {
                    // Handle response if needed
                    console.log('Username submitted:', username);
                }).catch(error => {
                    console.error('Error submitting username:', error);
                });
                document.getElementById("roomIdInput").focus();
            }
        });


        function joinRoom() {
            var idToJoin = document.getElementById("roomIdInput").value;
            
            // Regular expression to match UUID v4
            var uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;
            
            if (idToJoin.trim() === "") {
                // Handle case where no room ID is entered (create new room logic)
                createNewRoom();
            } else if (uuidRegex.test(idToJoin)) {
                // Redirect to room with the entered ID
                window.location.href = '/room/' + idToJoin;
            } else {
                alert("Invalid room ID. Please enter a valid ID.");
                // You can also add logic to clear the input field or focus on it again.
            }
        }
        

    </script>
</body>
</html>
