<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aloemyeu</title>
    <link rel="icon" href="/img/icon.png" type="image/png">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <link rel="stylesheet" href="/css/room.css">
    <script src="/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a49f3d84fc.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <div class="main_left">
            <div id="video-grid">

            </div>  
            <div class="media-control">
                <div class="media-control-button">
                    <i class="fa-solid fa-microphone-slash"></i><br>
                    <i class="fa-solid fa-video" onclick="offCam()"></i><br>
                    <i class="fa-solid fa-phone-slash" id = "quitBtn"></i><br>
                    <!-- Add this HTML for the modal dialog -->
                    <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Are you sure you want to quit?</p>
                        <button id="cancelBtn">Cancel</button>
                        <button id="confirmQuitBtn">Quit</button>
                    </div>
                    </div>
                </div>
                <div class="media-roomId">
                    <div id="copyRoomId"></div>
                    <i class="fa-solid fa-copy" onclick="copyId()"></i>
                </div>       
            </div>
        </div>
        <div class="main_right">
            <div class="chat-box">
            </div>
            <form id="messageInputForm" class="text-box">
                <input type="text" id="inputBox" placeholder="Aa" autocomplete="off">
                <i class="fa-solid fa-paper-plane"></i>
            </form>
        </div>
        
    </div>
      
</body>
    <script>
        // Add this JavaScript to handle the modal dialog
        document.getElementById("quitBtn").addEventListener('click', function() {
            var modal = document.getElementById("myModal");
            modal.style.display = "block";

            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
                modal.style.display = "none";
            }

            var cancelBtn = document.getElementById("cancelBtn");
            cancelBtn.onclick = function() {
                modal.style.display = "none";
            }

            var confirmQuitBtn = document.getElementById("confirmQuitBtn");
            confirmQuitBtn.onclick = function() {
                window.location.href = '/';
            }
        });

        document.getElementById("messageForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent default form submission
            
            //var message = document.getElementById("messageInput").value;

            // Process the message (send to server, etc.)

            // Clear the input field after submitting
            event.target.reset();
        });
    </script>
</html>